
header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15dvh;
  background-color: #7b5a32;

  nav {
    a {
      font-size: 1.5rem;
      text-decoration: none;
      color: #fff;
    }
  }
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
}



